.faq {
  margin-bottom: 50px;
}

.faq-flex {
  display: flex;
  flex-direction: column;
}

.faq-caption {
  margin-bottom: 44px;
}

.faq__list-item {
  position: relative;
  padding-bottom: 8px;
  border-top: var(--color-light-gray) 1px solid;
  transition: color .5s ease, border-top-color .5s ease, border-bottom-color .5s ease, transform 2s ease;
  cursor: pointer;
}

.faq__text {
  padding-bottom: 30px;
  color: var(--color-dark-gray);
}

.faq__list-item:last-child {
  border-bottom: var(--color-light-gray) 1px solid;
}

.faq__list-item:hover {
  color: var(--color-orange);
  border-top-color: var(--color-orange);
  border-bottom-color: var(--color-orange);
}

.faq__list-item:active {
  color: var(--color-orange);
  border-top-color: var(--color-orange);
  border-bottom-color: var(--color-orange);
}

.faq__list-item:hover + .faq__list-item {
  border-top: var(--color-orange) 1px solid;
}

.faq__headline:focus {
  color: var(--color-orange);
  border-top-color: var(--color-orange);
  border-bottom-color: var(--color-orange);
  outline: none;
}

.faq__headline {
  padding: 40px 70px 30px 1px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.faq__headline::after {
  position: absolute;
  right: 0;
  top: 29px;
  width: 50px;
  height: 50px;
  content: '';
  background-color: #ECECEC;
  background-image: url(../image/svg/plus-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  transition: transform .5s ease;
}

.faq__headline:hover::after {
  background-color: var(--color-orange);
  background-image: url(../image/svg/plus-white.svg);
}

.ui-accordion-header-active::after{
  transform: rotate(45deg);
}

.faq__text {
  display: none;
}

@media (max-width: 767px) {
  .faq {
    padding-bottom: 9px;
  }

  .faq-caption {
    margin-bottom: 16px;
  }

  .faq__headline {
    padding: 30px 50px 30px 0;
    max-width: 640px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__headline::after {
    width: 30px;
    height: 30px;
    background-size: 18px 18px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .faq {
    margin-bottom: 40px;
  }

  .faq-caption {
    margin-bottom: 34px;
  }

  .faq__headline {
    padding: 40px 70px 36px 0;
    max-width: 640px;
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .faq {
    margin-bottom: 35px;
  }

  .faq-caption {
    margin-bottom: 30px;
  }

  .faq__headline {
    padding: 40px 70px 38px 1px;
    width: 810px;
    font-size: 20px;
    line-height: 26px;
  }
}
