.working__button-list {
  padding-top: 30px;
  margin-bottom: 46px;
}

.working__button-item {
  display: inline-block;
}

.working__button-item:not(:last-child) {
  margin-right: 82px;
}

.working__button {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #FFF;
  border: none;
  transition: color .5s ease;
  cursor: pointer;
}

.working__button:hover {
  color: var(--color-orange);
  outline: none;
}

.working__button:focus {
  outline: 1px solid var(--color-orange);
}

.working__button:active {
  color: var(--color-dark-orange);
  outline: none;
}

.working__button--active {
  color: var(--color-dark-orange);
  outline: none;
}

.working__description {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 660px;
}

.working__description-caption {
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.working__description-text {
  margin-bottom: 51px;
  padding-right: 100px;
  width: calc(50% - 16px);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.working__description:after {
  position: absolute;
  top: 10px;
  right: 0;
  width: calc(50% - 16px);
  height: calc(100% -  15px);
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.working__description-step-1:after {
  background-image: url("../image/step1.jpg");
}

.working__description-step-2:after {
  background-image: url("../image/step2.jpg");
}

.working__description-step-3:after {
  background-image: url("../image/step3.jpg");
}

.working__description-step-4:after {
  background-image: url("../image/step4.jpg");
}

.working__description-button-more {
  display: inline-block;
  margin-right: 28px;
  padding: 21px 0 19px 38px;
  width: 175px;
  height: 60px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--color-orange);
  border: none;
  transition: background-color .5s ease;
}

.working__description-button-more:hover, .working__description-button-more:focus {
  background-color: rgba(255, 153, 0, 0.6);
  outline: none;
}

.working__description-button-more:active {
  background-color: var(--color-dark-orange);
  outline: none;
}

.working__description-button-contract {
  display: inline-block;
  padding: 21px 0 19px 38px;
  width: 147px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFF;
  border: 1px solid #333;
  transition: color .5s ease, background-color .5s ease;
}

.working__description-button-contract:hover, .working__description-button-contract:focus {
  color: var(--color-white);
  background-color: #666;
  outline: none;
  border: none;
}

.working__description-button-contract:active {
  color: var(--color-white);
  background-color: #000;
  outline: none;
}

.working__description-step-1, .working__description-step-2, .working__description-step-3, .working__description-step-4 {
  display: none;
}

.working__description--active {
  display: flex;
}

@media (max-width: 767px) {
  .working__button-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
    margin-bottom: 16px ;
  }

  .working__button-item:not(:last-child) {
    margin-right: 0;
  }

  .working__button {
    padding: 0;
    font-size: 14px;
    line-height: 17px;
  }

  .working__description:before {
    content: '';
    margin-bottom: 16px;
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
  }

  .working__description-step-1:before {
    background-image: url("../image/step1.jpg");
  }

  .working__description-step-2:before {
    background-image: url("../image/step2.jpg");
  }

  .working__description-step-3:before {
    background-image: url("../image/step3.jpg");
  }

  .working__description-step-4:before {
    background-image: url("../image/step4.jpg");
  }

  .working__description:after {
    display: none;
  }

  .working__description {
    min-width: auto;
    max-height: none;
  }

  .working__description-caption {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .working__description-text {
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 15px;
    width: 100%;
    font-size: 14px;
    line-height: 28px;
  }

  .working__description-button-box {
    height: 40px;
  }

  .working__description-button-more {
    margin-right: 5px;
    padding: 11px 14px  14px 14px;
    width: 162px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .working__description-button-contract {
    padding: 11px 29px 14px 30px;
    width: 118px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .working__button-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  .working__button-item {
    padding-top: 10px;
  }

  .working__description:after {
    display: none;
  }

  .working__description:before {
    content: '';
    margin-bottom: 38px;
    width: 100%;
    height: 36vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
  }

  .working__description-step-1:before {
    background-image: url("../image/step1.jpg");
  }

  .working__description-step-2:before {
    background-image: url("../image/step2.jpg");
  }

  .working__description-step-3:before {
    background-image: url("../image/step3.jpg");
  }

  .working__description-step-4:before {
    background-image: url("../image/step4.jpg");
  }

  .working__description {
    min-width: auto;
    max-height: none;
  }

  .working__description-caption {
    padding-bottom: 10px;
  }

  .working__description-text {
    margin-right: 0;
    margin-bottom: 23px;
    padding-right: 0;
    min-width: 657px;
    max-width: none;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .working {
    padding: 33px 0;
  }

  .working__button-list {
    padding-top: 40px;
    margin-bottom: 46px;
  }

  .working__button-item:not(:last-child) {
    margin-right: 81px;
  }

  .working__description {
    min-width: auto;
    max-width: none;
    max-height: none;
  }

  .working__description-caption{
    padding-top: 4px;
    width: 100%;
  }

  .working__description:after {
    top: 15px;
    right: 0;
    width: calc(50% - 25px);
    height: calc(100% - 15px);
  }

  .working__description-text {
    margin-bottom: 23px;
    padding-right: 0;
    min-width: auto;
    max-width: none;
  }
}

@media (min-width: 1280px) and (max-width: 1649px) {
  .working {
    padding: 33px 0;
  }

  .working__button-list {
    padding-top: 40px;
    margin-bottom: 46px;
  }

  .working__button-item:not(:last-child) {
    margin-right: 81px;
  }

  .working__description {
    min-width: auto;
    max-width: none;
    max-height: none;
  }

  .working__description-caption{
    padding-top: 4px;
    width: 100%;
  }

  .working__description:after {
    top: 15px;
    right: 0;
    width: calc(50% - 25px);
    height: calc(100% - 15px);
  }

  .working__description-text {
    margin-bottom: 23px;
    padding-right: 0;
    width: calc(50% - 25px);
    min-width: auto;
    max-width: none;
  }
}
