# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\SPEKTRA\_Skillbox_2.0\5_Advanced_HTML_CSS\Modules\Модуль 4\учебная\Модуль 15 для хоста\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
